body{
    background-color: rgb(0,0,0,0.93);
}

#navbarsection{
    background-color: rgba(0, 0, 0, 0.5);
    height: 125px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#navbarimage a img{
    width: 166px;
    height: 63px;
}

header #navbarNav .navbar-nav .nav-item a{
    color: white;
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

header #navbarNav .navbar-nav .nav-item{
    margin-right: 30px;
    /* padding-top: 9px; */
}

header #navbarNav .navbar-nav{
    /* padding-left: 223px; */
    margin-left: 20px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: white;
}


#bannersection{
    height: 100vh;
    background-image: url(images/Rectangle\ 51\(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bannertitle{
    color: white;
    font-size: 64px;
    font-weight: 500;
}

#bannerabout{
    color: white;
    font-size: 34px;
    font-weight: 400;
}

#bannerbutton{
    width: 169px;
    height: 53px;
    background-color: #E8BE7F;
    border: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.21em;
    /* margin-top: 98px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#bannertext p {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

#aboutsection{
    /* display: flex; */
    /* margin-left: 73px; */
    position: relative;
    margin-top: 168px;
    /* justify-content: space-evenly; */
}

#aboutimage{
    /* width: 983px; */
    background-image: url(images/Rectangle\ 53\(1\).png);
    height: 788px;
    background-repeat: no-repeat;
}

#aboutimage img{
    /* width: 881px;
    height: 844px; */
    
}

#about p{
    text-align: center;
}

#abouttitle{
    color: #E8BE7F;
    font-size: 32px;
    font-family: 'DM Sans', sans-serif;
    /* padding-top: 18px; */
    /* margin-bottom: 32px; */
    letter-spacing: 6px;
}

#ourstorytitle{
    font-size: 48px;
    color: white;
    font-family: 'Forum', cursive;
    /* margin-bottom: 32px; */
}

#abouttext{
    font-size: 30px;
    color: white;
    /* width: 569px; */
    line-height: 49.62px;
    font-family: 'DM Sans', sans-serif;
}

#aboutsectionimg{
    background-image: url(images/7426\ [Converted]-01\ 1\(1\).png);
    width: 163px;
    height: 386px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: -89px;
}

#aboutpadding{
    padding: 0 112px;
}

/* .about{
    margin-left: 50px;
} */

#blogsection{
    margin-top: 112px;
}

#blogtitle{
    font-size: 32px;
    color: #E8BE7F;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 14px;
    letter-spacing: 6px;
}

#blogtext{
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: 'Forum', cursive;
    margin-bottom: 60px;
}

.blogs{
    /* display: flex;
    justify-content: space-around; */
}

/* .blogs a{
    width: 550px;
    height: 600px;
} */

.blog-item{
    /* width: 500px; */
    height: 559px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.blog-date{
    color: #E8BE7F;
    margin-left: 15px;
    /* margin-top: 15px; */
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    /* padding-top: 20px; */
}

.blog-item div{
    /* margin-top: 368px;
    margin-left: 15px; */
    position: absolute;
    bottom: 0;
}

.blog-item h5{
    color: #E8BE7F;
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;
}

.blog-about{
    color: white;
    font-size: 28px;
    font-family: 'DM Sans', sans-serif;
}
 
.blogs a:hover{
    text-decoration: none;
}

.blogimagetext{
    margin-left: 10px;
}

#menusection{
    margin-top: 145px;
    position: relative;
}

#menusectionimg1{
    height: 1122px;
    width: 793px;
    background-image: url(images/image\ 7.png);
    position: absolute;
    z-index: -1;
}

#menusectionimg2{
    height: 1047px;
    width: 721px;
    background-image: url(images/image\ 8.png);
    position: absolute;
    right: 0;
    z-index: -1;
}

#menutitle{
    font-size: 32px;
    color: #E8BE7F;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 28px;
    letter-spacing: 6px;
}

#menutext{
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: 'Forum', cursive;
    margin-bottom: 74px;
}

.menu-select{
    /* width: 1580px;
    margin-left: 135px; */
    /* margin: 0 130px; */
    width: 85%;
    margin: auto;
}

.menu-select ul{
    display: flex;
    justify-content: space-around;
    margin: 27px 0;
    padding: 0;
}

#menuborder ul li{
    list-style: none;
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
}

#menuborder  a:hover{
    text-decoration: none;
}

#menuborder{
    border-top: 1px solid #565555;
    border-bottom: 1px solid #565555;
}

.menu-item1{
    margin-top: 138px;
}


.menu-item1 .row{
    margin-bottom: 80px;
}

.menu-item1 .row .col-12{
    display: flex;
    position: relative;
}

.menu-item2{
    margin-top: 138px;
}


.menu-item2 .row{
    margin-bottom: 80px;
}

.menu-item2 .row .col-12{
    display: flex;
    position: relative;
}

.menu-item3{
    margin-top: 138px;
}


.menu-item3 .row{
    margin-bottom: 80px;
}

.menu-item3 .row .col-12{
    display: flex;
    position: relative;
}

.menu-item4{
    margin-top: 138px;
}


.menu-item4 .row{
    margin-bottom: 80px;
}

.menu-item4 .row .col-12{
    display: flex;
    position: relative;
}

.menu-item-image img{
    width: 146px;
    height: 136px;
}

.menu-item-text{
    /* padding-left: 20px; */
    margin-left: 10px;
}

.menu-item-text .menu-name{
    display: flex;
    margin-top: 20px;
}

.menu-item-text .menu-name .menu-price{
    color: #E0AB81;
    position: absolute;
    right: 32px;
    font-family: 'Lora', serif;
}

.menu-item-text .menu-about{
    /* margin-top: 20px; */
}

.menu-item-text .menu-name h5{
    font-size: 24px;
    color: white;
    font-family: 'Forum', cursive;
}

.menu-item-text .menu-about h5{
    font-size: 24px;
    color: white;
    font-family: 'Forum', cursive;
}

#menuborder ul li:hover{
    cursor: pointer;
}
.menu-item2{
    display: none;
}
.menu-item3{
    display: none;
}
.menu-item4{
    display: none;
}

#menuaddtext{
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: 'Forum', cursive;
}

#menuaddtext span{
    color: #E8BE7F;
}

#menuimage{
    background-image: url(images/7426\ [Converted]-01\ 2.png);
    width: 435px;
    height: 386px;
    background-repeat: no-repeat;
    position: absolute;
    top: 1026px;
}

.spanborder{
    width: 300px;
    border-top: 2px solid #565555;
    position: absolute;
    left: 322px;
    top: 32px;
}

.special-offer{
    margin-top: 145px;
    margin-bottom: 318px;
}

.special-offer .offer-card{
    /* width: 526px; */
    margin-top: 50px;
}

.special-offer .offer-card img{
    /* width: 526px;
    height: 593px; */
    /* margin-bottom: 23px; */
}


.special-offer .offer-card .card-title{
    color: #E8BE7F;
    text-align: center;
    font-size: 28px;
    font-family: 'DM Sans', sans-serif;
}

.special-offer .offer-card .card-text{
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'DM Sans', sans-serif;
}

#special-offertitle{
    font-size: 32px;
    color: #E8BE7F;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 30px;
    letter-spacing: 6px;
}

#special-offertext{
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: 'Forum', cursive;
    margin-bottom: 56px;
}

#special-offersection{
    /* display: flex;
    justify-content: space-between; */
}

.specialoffercardtext{
    margin-top: 10px;
}

#imagesection{
    height: 915px;
    background-image: url(images/Rectangle\ 60.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#imagesectiontext{
    color: white;
    text-align: center;
    /* padding-top: 324px; */
    font-size: 67px;
    /* margin: 0 237px; */
    display: flex;
    align-items: center;
    margin: 0 114px;
    font-family: 'Forum', cursive;
}

#reservationsection{
    position: relative;
}

#onlinereservation{
    background-color: #0F1011;
    height: 1002px;
    position: absolute;
    top: -207px;
    left: 50%;
    border:1.27px solid #E0AB81;
    transform: translate(-50%,0);
}

#reservation{
    padding-top: 140px;
}

#reservation h5{
    font-size: 68.4px;
    text-align: center;
    color: white;
    font-family: 'Forum', cursive;
    padding-bottom: 80px;
}

#reservationform{
    width: 100%;
    padding: 0 80px;
}

#reservationrow1{
    margin-bottom: 60px;
}

.reservationinput{
    width: 100%;
    height: 50px;
    background-color: #1A1B1C;
    color: white;
    border:1.27px solid #E0AB81;
}

#reservationrow2{
    margin-bottom: 60px;
}

#reservationformgroup{
    margin-bottom: 30px;
}

#reservationformgroup textarea{
    width: 100%;
    background-color: #1A1B1C;
    color: white;
    border:1.27px solid #E0AB81;
}

#reservationbutton{
    width: 100%;
    height: 60px;
    background-color: #E0AB81;
    color: black;
    border: none;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 6px;
}

#reservationimage{
    padding-top: 73px;
    /* margin-left: 336px; */
}

::placeholder{
    color: white;
}

#backgroundform{
    text-align: center;
}

.form-group{
    position: relative;
}

.form-group i{
    position: absolute;
    top: 15px;
    left: 25px;
    color: white;
    font-size: 20px;
}

.form-group select,
.form-group input{
    padding-left: 112px;
}

#teamsection{
    margin-top: 1180px;
    position: relative;
    margin-bottom: 136px;
}

#teamsectionimg{
    background-image: url(images/image\ 9.png);
    width: 271.96px;
    height: 805px;
    position: absolute;
    z-index: -1;
}

#teamsectiontitle{
    font-size: 32px;
    color: #E8BE7F;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 24px;
    letter-spacing: 6px;
}

#teamsectiontext{
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: 'Forum', cursive;
    /* margin-bottom: 50px; */
}

#experiencedteam{
    /* display: flex;
    justify-content: space-around; */
    /* margin: 0 197px; */
}

.team{
    margin-top: 50px;
}

.team .team-person{
    /* width: 399.78px; */
}

.team .team-person img{
    /* width: 457.78px;
    height: 532px; */
}

.team .team-person .card-title{
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: 'DM Sans', sans-serif;
}

.team .team-person .card-text{
    text-align: center;
    font-size: 32px;
    color: #E0AB81;
    font-family: 'DM Sans', sans-serif;
}

.footer-section{
    /* display: flex;
    justify-content: space-around; */
    /* margin: 0 192px; */
}

#footerimg{
    width: 172px;
    margin-bottom: 10px;
    margin-left: 86px;
}

#footer-about li p{
    text-align: center;
}

#footertext1{
    color: white;
    margin-bottom: 0;
}

#footertext2{
    color: #E0AB81;
}

#footertext3{
    margin-bottom: 0;
    color: #E0AB81;
}

#footertext4{
    margin-bottom: 0;
    color: #A7A7A7;
}

#footertext5{
    color: #A7A7A7;
}

.footer-section  #footer-menu{
    margin-top: 30px;
}

.footer-section  #footer-menu li{
    list-style: none;
    color: white;
    font-size: 22px;
    font-family: 'DM Sans', sans-serif;
    line-height: 60px;
}

.footer-section  #footer-menu a:hover{
    text-decoration: none;
}

.footer-section #footer-about{
    list-style: none;
    padding-left: 0;
    font-family: 'DM Sans', sans-serif;
}

.footer-section #footer-link{
    text-align: center;
    margin-top: 30px;
}

.footer-section #footer-link li{
    list-style: none;
    color: white;
    font-size: 22px;
    line-height: 60px;
    font-family: 'DM Sans', sans-serif;
}

.footer-section #footer-link a:hover{
    text-decoration: none;
}

#footersectionimage{
    /* width: 435px; */
    height: 143px;
    background-image: url(images/7426\ [Converted]-01\ 1\(2\).png);
    background-repeat: no-repeat;
    /* margin-left: 38%; */
    background-position-x: center;
}

@media  screen and (max-width:1024px){
    #navbarNav{
        display: block;
    }

    header #navbarNav .navbar-nav{
        margin-left: 0;
    }

    .hamburger{
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        margin-right: 12px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #mylinks{
        position: fixed;
        left: -100%;
        top: 125px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    #mylinks.active{
        left: 0;
    }



    #bannertitle{
        font-size: 46px;
    }

    #bannerabout{
        font-size: 30px;
    }

    #abouttext{
        font-size: 19px;
        line-height: 36.62px;
    }

    #aboutsectionimg{
        top: -180px;
    }

    #aboutimage{
        background-size: cover;
        height: 524px;
    }

    .blog-item{
        height: 368px;
        background-position: center;
    }

    .blog-date{
        font-size: 18px;
    }

    .blog-item h5{
        font-size: 19px;
    }

    .blog-about{
        font-size: 19px;
    }

    #menusectionimg1{
        width: 100%;
    }

    #menusectionimg2{
        width: 100%;
    }

    #menuborder ul li{
        font-size: 23px;
    }

    .menu-item-image img{
        width: 112px;
        height: 116px;
    }

    .menu-item-text .menu-name{
        margin-top: 0;
    }

    .menu-item-text .menu-name h5{
        font-size: 18px;
    }

    .menu-item-text .menu-about h5{
        font-size: 17px;
    }

    .spanborder{
        width: 90px;
        left: 238px;
        top: 11px;
    }

    .special-offer .offer-card .card-title{
        font-size: 19px;
    }

    .special-offer .offer-card .card-text{
        font-size: 22px;
    }

    #imagesection{
        height: 618px;
    }

    #imagesectiontext{
        font-size: 32px;
    }

    .form-group select, .form-group input{
        padding-left: 82px;
    }

    .team .team-person .card-title{
        font-size: 24px;
    }

    .team .team-person .card-text{
        font-size: 23px;
    }

    #footerimg{
        width: 158px;
        margin-left: 62px;
    }
}

@media  screen and (max-width:768px){
    #navbarNav{
        display: block;
    }

    header #navbarNav .navbar-nav{
        margin-left: 0;
    }

    #navbarimage a img{
        margin-left: 278px;
    }

    .hamburger{
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        margin-right: 12px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #mylinks{
        position: fixed;
        left: -100%;
        top: 125px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    #mylinks.active{
        left: 0;
    }




    #bannersection{
        height: 78vh;
    }

    #bannertitle{
        font-size: 36px;
    }

    #bannerabout{
        font-size: 28px;
    }

    #abouttitle{
        font-size: 26px;
    }

    #ourstorytitle{
        font-size: 38px;
    }

    #abouttext{
        font-size: 16px;
        line-height: 32.62px;
        width: 318px;
    }

    #aboutimage{
        background-size: cover;
        height: 453px;
    }

    #aboutpadding{
        padding: 0 45px;
    }

    .blog-item{
        height: 308px;
    }

    .blog-item h5{
        font-size: 18px;
    }

    .blog-about{
        font-size: 16px;
    }

    #blogtitle{
        font-size: 26px;
    }

    #blogtext{
        font-size: 38px;
    }

    #menuborder ul li{
        font-size: 18px;
    }

    #menuaddtext{
        font-size: 18px;
    }

    #menuimage{
        z-index: -1;
    }

    .menu-item1 .row{
        margin-bottom: 0;
    }

    .menu-item1 .row .col-12{
        margin-bottom: 10px;
    }

    .menu-item2 .row{
        margin-bottom: 0;
    }

    .menu-item2 .row .col-12{
        margin-bottom: 10px;
    }

    .menu-item3 .row{
        margin-bottom: 0;
    }

    .menu-item3 .row .col-12{
        margin-bottom: 10px;
    }

    .menu-item4 .row{
        margin-bottom: 0;
    }

    .menu-item4 .row .col-12{
        margin-bottom: 10px;
    }

    .spanborder{
        display: none;
    }

    #menutitle{
        font-size: 26px;
    }

    #menutext{
        font-size: 38px;
    }

    .special-offer{
        margin-bottom: 224px;
    }

    .special-offer .offer-card .card-title{
        font-size: 18px;
    }

    .special-offer .offer-card .card-text{
        font-size: 18px;
    }

    #special-offertitle{
        font-size: 26px;
    }

    #special-offertext{
        font-size: 38px;
    }

    #imagesection{
        height: 526px;
    }

    #imagesectiontext{
        font-size: 32px;
    }

    #onlinereservation{
        height: 858px;
        top: -162px;
    }

    #reservationrow1{
        margin-bottom: 22px;
    }

    #reservationrow2{
        margin-bottom: 0;
    }

    #reservationformgroup{
        margin-bottom: 0;
    }

    #reservation h5{
        padding-bottom: 66px;
        font-size: 62.4px;
    }

    #reservationimage{
        padding-top: 56px;
    }

    #reservationbutton{
        margin-top: 23px;
    }

    .form-group select, .form-group input{
        padding-left: 48px;
    }

    #teamsection{
        margin-top: 1000px;
    }

    .team .team-person .card-title{
        font-size: 22px;
    }

    .team .team-person .card-text{
        font-size: 16px;
    }

    #teamsectiontitle{
        font-size: 26px;
    }

    #teamsectiontext{
        font-size: 38px;
    }

    #footerimg{
        width: 124px;
        margin-left: 40px;
    }

    
    
    .footer-section #footer-menu li{
        font-size: 18px;
    }

    #footer-about li p{
        font-size: 12px;
    }

    .footer-section #footer-link li{
        font-size: 18px;
    }

}

